
#container {
    width: 1220px;
    height: 600px;
    padding: 10px;
    margin: auto;
    position: relative;
}
   
#leftbox {
    height: 600px;
    width: 205px;
    background-color: beige;
    float:left;
    position: relative;
}

#main {
    padding-right: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
}

#rightbox {
    height: 600px;
    width: 200px;
    background-color: beige;
    float: right;
    position: relative;
}

#years {
    top: 180px;
    right: 70px;
    width: 60px;
    position: absolute;
}

#states {
    width:130px;
    position: absolute;
    top: 435px;
    left: 35px;
}

#cutoff {
    top: 290px;
    left: 40px;
    width: 50px;
    height: 15px;
    position: absolute;
}

#tooltip {
    background-color: lightskyblue;
    width: 200px;
    height: 90px;
    position: absolute;
    top: 80px;
    left: 325px;
    opacity: .4;
    text-align: center;
}

#label1 {
    top: 20px;
    left: 40px;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

#label2 {
    top: 40px;
    left: 40px;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

#label3 {
    top: 60px;
    left: 40px;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

#electionTitle {
    fill: steelblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

p {
    display: contents;
}

/* styling for buttons */
button {
    width: 100px;
    background-color: white;
    border: 2px solid royalblue;
    text-align: center;
    font-family: sans-serif;
    font-size: x-small;
    border-radius: 0.6em;
    color: royalblue;
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}
button:hover {
    color: white;
    box-shadow: 0 0 40px 40px royalblue inset;
}

button:focus {
    outline: none;
}

#filterButton {
    top: 315px;
    left: 50px;
    position: absolute;
}

#yearButton {
    top: 200px;
    left: 50px;
    position: absolute;
}

#sortButton {
    top: 500px;
    position: absolute;
    left: 50px
}

#stateButton {
    top: 460px;
    position: absolute;
    left:50px;
}

#totalButton {
    top:500px;
    position: absolute;
    left: 50px;
}

/* styling for labels */
label {
    font-family: 'Courier New', Courier, monospace;
    color: midnightblue;
    position: absolute;
}

#pieLabel {
    width: 50px;
    top: 150px;
    left: 75px;
    font-weight: bold;
}

#yearLabel {
    width: 50px;
    top: 160px;
    left: 80px;
    font-weight: bold;
}

#cutoffLabel {
    width: 50px;
    top: 270px;
    left: 70px;
    font-weight: bold;
}

#millionLabel {
    top: 292px;
    left: 105px;
    font-size: small;
}

#sortLabel {
    top: 380px;
    left: 80px;
    font-weight: bold;
}

#alphabeticalLabel {
    font-size: small;
    top: 410px;
    left: 50px;
}

#ascendingLabel {
    font-size: small;
    top: 440px;
    left: 50px;
}

#descendingLabel {
    font-size: small;
    top: 470px;
    left: 50px;
}

#rightLabel {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: steelblue;
    top: 80px;
    left: 40px;
}

#leftLabel {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: steelblue;
    top: 80px;
    left: 23px;
}

#totalLabel {
    font-size: 10px;
    top: 310px;
    left: 15px;
}

#dLabel {
    top: 330px;
    left: 15px;
    font-size: 10px;
}

#rLabel {
    top: 350px;
    left: 15px;
    font-size: 10px;
}

#gLabel {
    top: 370px;
    left: 15px;
    font-size: 10px;
}

#naLabel {
    top: 390px;
    left: 15px;
    font-size: 10px;
}

/* styling for radio buttons */
#alphabetical {
    position: absolute;
    top: 410px;
    left:20px;
    font-size: 5px;
}

#ascending {
    position: absolute;
    top: 440px;
    left: 20px;
}

#descending {
    position: absolute;
    top: 470px;
    left:20px;
}